@media (max-width: 1440px) {
    .heading-3 {
        font-size: 50px;
        font-weight: 600;
    }

    .HomeFrameSlider_framesContent p {
        width: 60%;
    }

    .HomeFrameSlider_frameCard p {
        font-size: 16px;
        padding-bottom: 0;
        padding-top: 1rem;
    }

    .heading-2 {
        font-size: 45px;
    }

    .HomeFrameSlider_sliderWrp .swiper-wrapper {
        height: 530px !important;
        justify-self: unset;
        flex-wrap: wrap;
        flex-direction: column
    }

    .HomeEnquire_homeEnquireContent .heading-4 {
        width: 100%;
    }

    .navbar-nav li a {
        font-size: 15px;
    }

    .main_logo {
        /* width: 14%; */
        height: 9px;
    }

    .innerFrame img {
        height: 275px;
    }

    .custom-hero-slider-parent .swiper-slide {
        width: 179px !important;
    }

    .bannerFrame {
        top: 8px;
    }

    .AboutSliderParent {
        padding: 24px 10px;
        width: 70%;
    }

    .AboutSliderParent h5 {
        font-size: 15px;
    }

    .ClusterCard .card-prize .product-prize {
        gap: 10px;
    }

    span.realPize {
        font-size: 14px;
    }

    section.contact-us-section .contact-title {
        max-width: 90%;
        font-size: 40px;
    }

    .contact-info-2 a {
        font-size: 20px !important;
    }

    .child-privacy {
        width: 80%;
    }

    span.caption-crop {
        margin-left: 6rem;
    }

    .Right-Sidebar-Cart-Parent .card-body {
        padding: 10px 10px;
    }

    .Right-Sidebar-Cart-Parent .card-body .frame-detail .heading-4 {
        font-size: 13px;
    }

    .grid-4 {
        width: 93%;
    }

    .newframe-sideimg img {
        height: 336px;
    }

    header.scrollheader {
        padding: 20px 0;
    }

    .topmenu-logo a img {
        width: 18%;
    }

    .customTabsContent {
        height: 423px;
    }

    .custom-tabs-content .heading-3 {
        font-size: 35px;
    }

    section.custom-tabs-section.py {
        padding-left: 135px;
    }

    .nails-tabs button {
        font-size: 19px;
    }
}

@media (max-width: 1232px) {
    .customTabsContent {
        height: 404px;
    }
}

@media (max-width: 1199px) {
    .main_logo {
        /* width: 17%; */
        /* height: 27px; */
    }

    .custom-hero-slider-section {
        /* padding-bottom: 5rem; */
    }

    .usa-pic h6 {
        font-size: 16px;
    }

    .premium-material {
        padding: 30px 0;
    }

    .heading-2 {
        font-size: 40px;
    }

    .main-title span.heading-1 {
        font-size: 60px;
    }

    .main-title {
        margin-bottom: 2rem;
    }

    .clusters-section {
        padding: 30px;
    }

    p.para {
        font-size: 16px;
    }

    .ClusterCard .card-title {
        font-size: 14px;
    }

    span.realPize {
        font-size: 16px;
    }

    span.cutPrize {
        font-size: 15px;
    }

    .RightSliderChild .heading-3 {
        font-size: 40px;
    }

    .RightSliderChild.whyChooseUs p {
        font-size: 26px !important;
    }

    .heading-3 {
        font-size: 30px;
    }

    .custom-tabs-content #v-pills-tab {
        gap: 15px;
    }

    .custom-tabs-content button {
        font-size: 18px;
    }

    .AboutSliderParent h5 {
        font-size: 15px;
    }

    .AboutSliderParent p {
        font-size: 12px;
    }

    .about-section {
        padding: 50px 0;
    }

    .whychoose .RightSliderChild.whyChooseUs p {
        font-size: 17px !important;
    }

    .accordion-item {
        padding: 1rem 1rem 0;
    }

    button.accordion-button {
        padding: 0rem 0rem 1rem !important;
        font-size: 18px;
    }

    .faqSection {
        padding: 50px 0;
    }

    .HomeEnquire_homeEnquireContent {
        padding: 65px 35px 0px;
        padding-right: 0;
    }

    .newframe-sideimg img {
        height: 281px;
    }

    .HomeEnquire_homeEnquireWrp {
        margin-bottom: 70px;
    }

    .HomeEnquire_homeEnquireWrp h3 {
        font-size: 35px;
    }

    header .nav-link {
        padding: 18px 0 !important;
        padding-bottom: 5px !important;
    }

    header {
        padding-top: 10px;
    }

    .custom-btn {
        padding: 8px 15px;
        font-size: 15px;
    }

    .about-section img {
        margin: 0 !important;
    }

    .custom-hero-slider-parent .swiper-slide {
        width: 151px !important;
    }

    div#productContainer span.realPize {
        font-size: 14px;
    }

    div#productContainer span.cutPrize {
        font-size: 13px;
    }

    div#productContainer span.discountPercent {
        font-size: 10px;
    }

    .contact-info-2 h2 {
        line-height: 0;
    }

    .contact-info-2 a {
        margin-bottom: 10px !important;
    }

    section.contact-us-section .contact-title {
        font-size: 35px;
    }

    .contact-form input,
    .contact-form textarea {
        padding: 0.9rem 1rem !important;
    }

    .child-privacy h1 {
        font-size: 30px !important;
    }

    .child-privacy {
        padding-top: 50px;
        width: 80% !important;
    }

    .child-privacy h2 {
        font-size: 28px !important;
        margin: 15px 0 !important;
    }

    .child-privacy table tr td {
        padding-bottom: 10px !important;
        font-size: 15px;
    }

    .parentRightAccordiance {
        padding-left: 10px;
    }

    .parentRightAccordiance h3 {
        font-size: 25px;
    }

    .pricedetails {
        margin-top: 0;
    }

    .pricedetails h5 {
        font-size: 22px;
    }

    .addtocardbtn {
        margin: 1rem 0;
        height: 50px;
    }

    span.caption-crop {
        font-size: 14px;
        margin-left: 1rem;
    }

    .grid-4 {
        width: 91%;
    }

    .paymentdetailsbody {
        padding: 1rem;
    }

    form#addressForm input {
        padding: 10px 10px;
        font-size: 13px;
    }

    textarea#address1Input {
        font-size: 13px;
    }

    select#stateDropdown {
        padding: 10px 10px;
        font-size: 13px;
    }

    select#cityDropdown {
        padding: 10px 10px;
        font-size: 13px;
    }

    textarea#address2Input {
        padding: 10px 10px;
        font-size: 13px;
    }

    figure.carditemimage img {
        width: 100px;
    }

    .profilesidebar ul li {
        padding: 0px 10px;
    }

    .profilesidebar ul li a {
        padding: 15px 0px;
        font-size: 13px;
    }

    .profilesidebar ul li a svg {
        font-size: 16px;
    }

    .account-information {
        padding-left: 15px;
    }

    .blockquote {
        font-size: 15px;
    }

    .account-information h1 {
        margin-bottom: 30px;
    }

    .account-information .form-group input {
        font-size: 12px;
        height: 45px;
    }

    .shopvideobtn {
        left: 43%;
    }

    .customTabsContent {
        height: 317px;
    }

    .custom-tabs-content .heading-3 {
        font-size: 27px;
    }

    section.custom-tabs-section.py {
        padding-left: 120px;
    }

    .nails-tabs button {
        font-size: 16px;
    }
}

@media (max-width: 991px) {
    .heading-2 {
        font-size: 35px;
    }

    .main-title span.heading-1 {
        font-size: 50px;
    }

    .clusters-section {
        padding: 20px;
    }

    span.realPize {
        font-size: 14px;
    }

    span.discountPercent {
        font-size: 8px;
    }

    .RightSliderChild .heading-3 {
        font-size: 35px;
    }

    .RightSliderChild.whyChooseUs p {
        font-size: 22px !important;
        text-align: start;
    }

    .heading-3 {
        font-size: 23px;
    }

    .custom-tabs-content button {
        font-size: 13px;
    }

    .customTabsContent {
        height: 300px;
    }

    div#v-pills-tabContent .tab-pane {
        height: 100%;
    }

    .AboutSliderParent {
        padding: 4px;
        text-align: center;
        width: 43%;
    }

    .AboutSliderParent h5 {
        font-size: 15px;
        text-align: center;
    }

    .AboutSliderParent p {
        text-align: center;
    }

    .whychoose .RightSliderChild.whyChooseUs p {
        font-size: 15px !important;
        margin-bottom: 0;
    }

    .accordion-body {
        width: 100%;
    }

    .HomeEnquire_homeEnquireContent {
        padding: 35px 15px 35px;
        text-align: start !important;
    }

    .HomeEnquire_homeEnquireContent .heading-4 {
        width: 50%;
        font-size: 25px;
        text-align: start;
    }

    .Footer_footerLinksWrp h5 {
        font-size: 16px;
    }

    .Footer_footerLinks {
        gap: 5px;
    }

    .Footer_footerLinks a {
        font-size: 14px;
    }

    .Footer_footerLinks span {
        font-size: 14px;
    }

    p.mb-2.Footer_footerContact img {
        width: 30px !important;
        height: 30px !important;
    }

    p.mb-2.Footer_footerContact a span {
        font-size: 12px !important;
    }

    .Footer_footer .Footer_footerBottomWrp {
        margin-top: 2em;
    }

    .Footer_footer .Footer_footerBottomWrp a {
        font-size: 13px;
    }

    .Footer_footerBottomWrp p {
        font-size: 12px;
    }

    .heading-2 {
        font-size: 22px;
    }

    .main-title span.heading-1 {
        font-size: 35px;
    }

    .RightSliderChild .heading-3 {
        font-size: 30px;
        margin-bottom: 0;
    }

    .RightSliderChild.whyChooseUs p {
        font-size: 18px !important;
        line-height: unset !important;
    }

    .about-section button {
        margin-top: 0 !important;
        margin-bottom: 30px;
    }

    .custom-tabs-section {
        padding: 10px 0;
        display: none;
    }

    .py.mobile_view_tabs {
        display: block !important;
        padding: 50px 0;
    }

    .heading-3 {
        font-size: 25px;
        /* text-align: start; */
    }

    .custom-tabs-content {
        text-align: center;
    }

    .custom-tabs-content #v-pills-tab {
        gap: 20px;
        justify-content: center;
        margin-bottom: 20px;
    }

    .custom-tabs-content button {
        font-size: 13px;
        text-align: start;
    }

    h2.heading-3 span {
        display: block;
    }

    .RightSliderChild {
        text-align: center;
    }

    .RightSliderChild h2 {
        margin-bottom: 40px !important;
    }

    .RightSliderChild div#swiper-wrapper-dab873224dbf84c1 {
        display: block;
    }

    .RightSliderChild div#swiper-wrapper-dab873224dbf84c1 .swiper-slide {
        width: 100% !important;
        padding: 10px 0;
        text-align: center !important;
    }

    .HomeFrameSlider_framesSliderWrp {
        background: black;
        padding-top: 50px;
        padding-bottom: 0;
    }

    .HomeFrameSlider_framesContent p {
        width: 100%;
        font-size: 15px;
    }

    .HomeFrameSlider_sliderWrp.position-relative {
        margin-top: 60px;
    }

    .about-section img {
        margin-left: 0 !important;
        margin-top: 20px;
    }

    div#accordionFlushExample {
        margin-top: 30px;
    }

    .HomeEnquire_homeEnquireContent .heading-4 {
        font-size: 32px;
        text-align: center;
        width: 100%;
    }

    footer.text-white.Footer_footer {
        text-align: center;
    }

    .Footer_socialNav.nav {
        justify-content: center;
        margin: 10px 0;
    }

    .Footer_footerLinksWrp h5 {
        font-size: 18px;
        margin-bottom: 10px !important;
    }

    .Footer_footerLinks a {
        font-size: 14px;
    }

    .Footer_footerLinks {
        gap: 10px;
        margin: 20px 0;
    }

    p.mb-2.Footer_footerContact a {
        justify-content: center !important;
    }

    section.about-section.py {
        text-align: center;
    }

    .custom-hero-slider-parent .swiper-slide {
        width: 144px !important;
    }

    .bannerFrame {
        width: 230px;
        left: 51%;
        top: 19px;
        height: 320px;
    }

    .HomeFrameSlider_framesContent h2.heading-3 {
        text-align: center;
    }

    .swiper.AboutSlider.swiper-initialized.swiper-horizontal.swiper-backface-hidden {
        margin-bottom: 30px;
    }

    /* section.about-section.py.sofa-covered .row {
        flex-direction: column-reverse;
    } */

    section.about-section.py.sofa-covered img {
        width: 100%;
    }

    section.about-section.py.sofa-covered .row .col-lg-7.col-md-7.col-12 {
        width: 100%;
    }

    section.about-section.py.sofa-covered .row .col-lg-5.col-md-5.col-12 {
        width: 100%;
    }

    .HomeFrameSlider_sliderWrp .swiper-slide {
        width: 280px !important;
    }

    .HomeFrameSlider_framesContent p {
        margin-bottom: 0 !important;
    }

    .HomeEnquire_homeEnquireContent {
        background: none;
        text-align: center !important;
    }

    section.py-0.HomeEnquire_homeEnquireWrp.scroll-fade {
        position: relative;
        z-index: 0;
        padding-bottom: 0px !important;
        background-size: 0;
        background-repeat: no-repeat;
        background-position: center bottom -1px;
        margin-bottom: 0;
    }

    .mobile-back-img img {
        position: absolute;
        z-index: -1;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        width: 45%;
        height: 100%;
        margin: auto;
    }

    .mobile-back-img img {
        display: block !important;
    }

    div#productContainer .ClusterCard {
        margin: 2rem 0;
    }

    div#productContainer .ClusterCard span.realPize {
        font-size: 14px;
    }

    div#productContainer .ClusterCard span.discountPercent {
        font-size: 12px;
    }

    div#productContainer .ClusterCard span.cutPrize {
        font-size: 11px;
    }

    section.contact-us-section .contact-title {
        max-width: 100%;
        font-size: 25px;
    }

    .contact-info-2 a {
        font-size: 18px !important;
    }

    .contact-form input,
    .contact-form textarea {
        padding: 1rem 1rem !important;
    }

    .child-privacy {
        width: 100% !important;
    }

    .productDetailSection {
        padding-bottom: 50px;
    }

    .noticeproductdetail {
        margin-top: 1rem;
    }

    .accordingheader {
        margin-top: 20px;
    }

    figure.frameBackground img {
        height: 500px;
    }

    .parentaccording {
        margin-top: 0;
    }

    .parentaccording .accordion-item {
        padding: 5px 10px;
    }

    .addtocardbtn {
        height: 35px;
    }

    .grid-parent {
        flex-direction: column-reverse;
    }

    ul.LeftSidebar_designTool {
        flex-direction: row;
        gap: 16px;
    }

    .grid-2 {
        width: 100%;
        flex-direction: column-reverse;
    }

    span.caption-crop {
        margin-bottom: 1rem;
    }

    .grid-4 {
        flex-direction: column;
        width: 100%;
    }

    .multi-upload-Main {
        padding-top: 20px;
    }

    .Right-Sidebar-Cart-Parent {
        width: 100%;
    }

    .Right-Sidebar-footer {
        width: 93%;
    }

    .ApplyCoupon_couponApply p {
        font-size: 12px;
        margin: 0;
    }

    .ApplyCoupon_couponApply .custom-btn {
        padding: 4px 10px;
    }

    .cartParent .pricedetails {
        margin-top: 15px;
    }

    figure.carditemimage img {
        width: 100px;
    }

    .cardlistdetail p {
        font-size: 14px;
    }

    .cardlistaction {
        gap: 15px;
        width: 75%;
    }

    .listGroup {
        grid-template-columns: 8% 60% 14%;
    }

    .listGroup figure {
        width: 65px;
    }

    ul.designToolPropertiesLists {
        transform: translate(-18px, 80px) !important;
    }

    ul.designToolPropertiesLists.show {
        transform: translate(0px, -300px) !important;
    }

    .HomeEnquire_homeEnquireContent {
        flex-direction: column;
        justify-content: space-between;
        gap: 50px;
        padding-bottom: 0;
    }

    .newframeimg {
        width: 100%;
    }

    .newframe-sideimg {
        width: 100%;
    }

    .newframe-sideimg img {
        width: 60%;
    }

    .account-information {
        overflow-y: scroll;
    }

    .account-information .btn-brand-dark {
        padding: 2px;
        font-size: 12px;
        margin: 2px;
    }

    .usa-pic h6 {
        font-size: 14px;
    }

    .premium-material {
        padding: 20px 0;
    }

    .banner-video video {
        height: 70vh;
        object-fit: fill;
    }

    button.hammenubtn {
        display: none;
    }

    header.scrollheader {
        position: unset;
        padding: 15px 0;
        overflow: hidden;
    }

    .custom-hero-slider-section {
        overflow: hidden;
    }

    header.scrollheader.is-sticky {
        position: unset;
    }

    .main_logo {
        text-align: center;
        height: 46%;
    }

    .topmenu-logo a img {
        width: 40%;
    }

    .shopbtnmobile {
        display: block;
        position: fixed;
        bottom: 0px;
        right: 0px;
        left: 0px;
        padding: 9px;
        z-index: 5;
        backdrop-filter: blur(20px);
        background-color: rgba(253, 251, 252, 0.5);
    }

    .shopvideobtn {
        display: none;
    }

    .shopbtnmobile .shopvideobtn {
        display: block;
        position: unset;
        text-align: center;
    }

    .shopbtnmobile .shopvideobtn a.btn.custom-btn.filled {
        background: #ff0168 !important;
        width: 100%;
        color: #ffff !important;
    }

    footer.text-white.Footer_footer {
        padding-bottom: 60px;
    }

    .mobile-tabs-video h2 {
        text-align: center;
        margin-bottom: 20px;
    }

    .mobile-tabs-video h2 span {
        display: unset;
    }

    .peel_stick h4 {
        font-size: 30px;
        margin: 38px 0;
    }

    .peel_stick video {
        margin: auto;
        width: 65%;
    }

    .AboutSliderwel {
        margin-bottom: 20px;
    }

    section.custom-tabs-section.py {
        padding-left: 18px;
    }
}

@media (max-width: 767px) {

    .RightSliderChild .heading-3 {
        text-align: center;
        margin-bottom: 10px !important;
    }

    .RightSliderChild.whyChooseUs p {
        text-align: center;
        font-size: 16px !important;
    }


    .custom-tabs-content h2 {
        text-align: center;
        margin-bottom: 20px;
    }

    .custom-tabs-content h2 span {
        display: unset;
    }

    .custom-tabs-content #v-pills-tab {
        justify-content: center;
        flex-direction: row !important;
        margin: 0;
        margin-bottom: 20px;
        gap: 15px;
    }

    .custom-tabs-content button {
        font-size: 14px;
        padding: 0;
    }

    .custom-tabs-content button.active {
        border-left: 0;
        border-bottom: 2px solid;
    }

    figure.sofa-img-setting img {
        display: none;
    }

    figure.sofa-img-setting .mobile-sofa-img-setting {
        display: block !important;
    }

    .HomeFrameSlider_framesSliderWrp {
        padding-top: 100px;
    }

    .HomeFrameSlider_framesContent {
        left: 18px;
    }

    .whychoose .RightSliderChild.whyChooseUs p {
        margin-bottom: 20px;
    }

    section.py-0.HomeEnquire_homeEnquireWrp.scroll-fade {
        padding-bottom: 0px !important;
    }

    .Footer_footer .Footer_footerLinksWrp img {
        width: 50%;
    }

    .custom-hero-slider-parent .swiper-slide {
        width: 100% !important;
    }

    .custom-hero-slider-section {
        padding: 0;
        /* padding-top: 20px; */
    }

    .innerFrame img {
        height: 100%;
        min-height: 100vh;
    }

    .main-banner-slider .swiper-pagination {
        display: none;
    }

    .bannerFrame {
        display: none;
    }

    .fogeffect:after,
    .fogeffect:before {
        height: 100%;
    }

    .custom-hero-slider-section .container {
        margin: 0;
        max-width: 100%;
    }

    section.custom-hero-slider-section .col-lg-12.col-md-12.col-12 {
        padding: 0;
    }

    .swiper.main-banner-slider {
        padding: 0;
    }

    .main-banner-section {
        /* margin-top: -30rem; */
        /* position: relative; */
        /* z-index: 5; */
        /* padding-bottom: 200px; */
    }

    .usa-pic {
        display: block;
        text-align: center;
        margin-bottom: 30px;
    }

    .usa-pic h6 {
        margin-top: 12px;
        font-size: 20px;
    }

    .usa-pic img {
        width: 25%;
    }

    section.main-banner-section h1 span {
        /* color: white !important; */
        font-size: 2.5rem;
    }

    .fogeffect:after,
    .fogeffect:before {
        height: 96%;
    }

    .clusters-section {
        padding-top: 60px;
        padding-bottom: 50px;
    }

    .heading-2 {
        font-size: 28px;
        font-weight: 600;
    }

    section.about-section.py {
        padding-top: 30px;
    }

    .RightSliderChild .heading-3 {
        font-size: 30px;
        margin-bottom: 40px !important;
    }

    .contact-form input,
    .contact-form textarea {
        padding: 15px 18px !important;
        font-size: 13px;
        line-height: 0 !important;
    }

    section.contact-us-section .custom-btn.filled {
        line-height: 0;
        margin: auto;
    }

    .child-privacy h1 {
        font-size: 20px !important;
        margin-bottom: 20px !important;
    }

    .child-privacy p {
        font-size: 14px !important;
    }

    .child-privacy h2 {
        font-size: 22px !important;
    }

    .child-privacy ul li ul li {
        font-size: 13px;
    }

    .child-privacy table tr td {
        font-size: 14px !important;
    }

    .child-privacy ul {
        padding-left: 1rem !important;
    }

    .child-privacy h3 {
        font-size: 20px;
    }

    ul.LeftSidebar_designTool {
        gap: 0px;
    }

    ul.LeftSidebar_designTool button {
        padding: 10px 10px;
        width: 70px;
    }

    .Right-Sidebar-Cart-Parent {
        padding: 15px;
    }

    .Right-Sidebar-footer {
        width: 100%;
        margin-top: 26px;
    }

    .listGroup {
        display: block;
        padding: 10px 0;
    }

    .cardlistdetail {
        margin-top: 18px;
    }

    .newframe-sideimg img {
        width: 90%;
    }

    .profilesidebar .sidedata {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 16px;
    }

    .profilesidebar ul li:last-child {
        margin-top: 10px;
    }

    .banner-video video {
        height: 70vh;
    }

    .topmenu-logo a img {
        width: 40%;
        margin-top: -6px;
        height: 32px;
    }

    .mobile-tabs-video h2 {
        font-size: 30px !important;
    }

    .peel_stick video {
        width: 80%;
    }

    .AboutSliderParent {
        text-align: center;
        width: 35%;
    }

    .AboutSliderParent h5 {
        font-size: 15px;
    }

    .AboutSliderParent p {
        font-size: 13px;
    }
}


@media (max-width: 575px) {
    .main-banner-section {
        /* padding-bottom: 1rem; */
        /* margin-top: -20rem; */
    }

    .banner-video video {
        height: 60vh;
    }

    .usa-pic h6 {
        font-size: 19px;
    }

    .heading-2 {
        font-size: 18px;
    }

    .main-title span.heading-1 {
        font-size: 22px;
        margin-top: 8px;
    }

    .custom-tabs-content button {
        font-size: 11px;
    }

    .whychoose .RightSliderChild.whyChooseUs p {
        font-size: 12px !important;
        line-height: 20px !important;
    }

    button.accordion-button {
        font-size: 14px;
        padding-bottom: 10px !important;
    }

    .accordion-item {
        padding-top: 10px;
        padding-right: 10px;
    }

    .accordion-body {
        font-size: 12px;
    }

    .faqSection {
        padding: 20px 0;
    }

    .mx-auto.text-center.HomeTestimonials_htContent__sML46 h2 {
        font-size: 20px;
        margin: 0;
    }

    div#accordionFlushExample {
        margin-top: 15px;
    }

    .accordion-button::after {
        width: 21px;
        height: 14px;
    }

    .HomeEnquire_homeEnquireContent .heading-4 {
        font-size: 20px;
    }

    .mobile-back-img img {
        width: 70%;
    }

    .Footer_footer .Footer_footerBottomWrp a {
        padding: 0px 4px;
        font-size: 12px;
    }

    .innerFrame img {
        min-height: 70vh;
    }

    .fogeffect:after,
    .fogeffect:before {
        height: 92%;
    }

    .clusters-section {
        padding-top: 100px;
    }

    div#productContainer .ClusterCard h4 {
        display: block;
    }

    div#productContainer .ClusterCard span.realPize {
        font-size: 15px;
    }

    div#productContainer .ClusterCard span.cutPrize {
        font-size: 13px;
    }

    .inner-cluster .heading-2 {
        margin-bottom: 20px;
    }

    .inner-cluster p {
        font-size: 13px;
    }

    .contact-form input,
    .contact-form textarea {
        padding: 10px 10px !important;
    }

    .ContactInfo_contactInfoWrp__wBllg {
        margin-top: 20px;
    }


    .contact-info-2 a {
        font-size: 16px !important;
    }

    .contact-info-2 h2 {
        font-size: 16px;
        margin: 0 !important;
    }

    .child-privacy {
        padding-top: 0;
    }

    .child-privacy h1 {
        font-size: 16px !important;
        margin-bottom: 10px !important;
    }

    .child-privacy h2 {
        font-size: 18px !important;
    }

    .child-privacy table tr th {
        padding-bottom: 10px !important;
    }

    .child-privacy table tr td {
        font-size: 13px !important;
    }

    .child-privacy ul li {
        font-size: 13px !important;
    }

    .child-privacy h3 {
        font-size: 16px;
    }

    .child-privacy p {
        font-size: 13px !important;
    }

    ul.LeftSidebar_designTool {
        flex-wrap: wrap;
        justify-content: center;
    }

    li.designToolPropertiesChild {
        list-style: none;
    }

    figure.carditemimage img {
        height: 90px;
        width: 90px;
    }

    ul.designToolPropertiesLists.show {
        transform: translate(-31px, -341px) !important;
    }

    figure.PropertiesleftChild img {
        height: 40px;
        width: 40px;
    }

    ul.designToolPropertiesLists {
        width: 282px;
        left: unset !important;
        right: 0 !important;
    }

    .main_logo {
        width: 50%;
        height: 30px;
        margin-left: 35px;
    }

    .offcanvas-logo {
        width: 73% !important;
    }

    .offcanvas-logo img {
       height: 42px !important;
    }

    .newframe-sideimg img {
        height: 230px;
    }

    .topmenu-logo a img {
        width: 100%;
        margin-top: 0;
    }

    .banner-video {
        height: 60vh;
    }

    .designToolPropertiesLists.design_1 {
        left: 100% !important;
        right: unset !important;
        top: 60% !important;
    }

    .designToolPropertiesLists.design_2 {
        left: 15% !important;
        right: unset !important;
        top: 10% !important;
    }

    .designToolPropertiesLists.design_3 {
        left: unset !important;
        right: -140px !important;
        top: -10px !important;
    }

    .designToolPropertiesLists.design_4 {
        left: -140px !important;
        right: unset !important;
        top: 70% !important;
    }

    .designToolPropertiesLists.design_5 {
        left: -200px !important;
        right: unset !important;
        top: 70% !important;
    }

    .peel_stick video {
        width: 100%;
    }

    section.custom-tabs-section.py {
        padding-left: 0 !important;
    }

    .main-video {
        padding: 0 !important;
    }

    .about-section img {
        height: 283px !important;
    }

    .Right-Sidebar-footer {
        margin-top: 26px;
    }

    .box {
        padding: 0 !important;
    }

    .hang-icon svg {
        margin-top: -19px !important;
        font-size: 20px !important;
    }

    .main-design-blade {
        margin-top: 21px !important;
    }

    .multi-upload-Main .MiniUploadBtn.card {
        width: 85%;
        padding: 3px 11px;
    }

    span.MiniUploadBtn_sign {
        padding: 1px 1px;
    }

    h6.instruction {
        font-size: 13px;
    }

    .grid-2 {
        gap: 73px;
    }

    .AboutSliderParent {
        text-align: center;
        width: 44%;
    }

}
